<h1>Frined</h1>
<h3>My Friend List</h3>
<table>
  <tr>
    <th>First-name</th>
    <th>Last-name</th>
    <th>Nike-Name</th>
    <th>GitHub Pages</th>
  </tr>
  <tr>
    <td>pattanapon</td>
    <td>theam-ai</td>
    <td>mark</td>
    <td>
      <a href="https://github.com/camt-mmit/2023_01-954447-001-lab-01-basic-javascript-Rinrainmk.git" class="git">Lab002</a>
      <a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-Rinrainmk.git" class="git">Lab003</a>
      <a href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-Rinrainmk.git" class="git">Lab004</a>
    </td>
  </tr>
  <tr>
    <td>Siraphob</td>
    <td>Inthajak</td>
    <td>Film</td>
    <td>
      <a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-FalarimFilm.git" class="git">Lab002</a>
      <a href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-FalarimFilm" class="git">Lab003</a>
      <a href="https://github.com/camt-mmit/2023_01-954447-001-lab-01-basic-javascript-FalarimFilm" class="git">Lab004</a>
    </td>
  </tr>
</table>
