<h1>Status</h1>
<table>
  <tr>
    <th>current time</th>
    <th>::</th>
    <td>{{date}}</td>
  </tr>
  <tr>
    <th>user agent</th>
    <th>::</th>
    <td>{{user}}</td>
  </tr>
  <tr>
    <th>languages</th>
    <th>::</th>
    <td>{{lang}}</td>
  </tr>
  <tr>
    <th>is cookie enagled</th>
    <th>::</th>
    <td>{{cookie}}</td>
  </tr>
  <tr>
    <th>logical procseeors</th>
    <th>::</th>
    <td>{{logicel}}</td>
  </tr>
  <tr>
    <th>max touch points</th>
    <th>::</th>
    <td>{{max}}</td>
  </tr>
</table>

