<!-- <header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />  <nav>
    <h1>{{ title }}</h1>
    <a routerLink="./hello-world" routerLinkActive="st-active" ><span class="material-symbols-outlined">
      public
      </span>hello-world </a>
    <a routerLink="./profile" routerLinkActive="st-active"><span class="material-symbols-outlined">
      person
      </span>profile</a>
    <a routerLink="./friend" routerLinkActive="st-active"><span class="material-symbols-outlined">
      diversity_3
      </span>Friend</a>
    <a routerLink="./status" routerLinkActive="st-active"><span class="material-symbols-outlined">
      apps
      </span>Status</a>
  </nav>
</header> -->


<h1>{{title}} app is running</h1>
<router-outlet></router-outlet>
<div>
  <!-- <ng-template ngFor [ngForOf]="[10,20,30]" let-value let-i="index">
{{i}}:{{value}}<br/>
  </ng-template> -->
  <!-- <div *ngFor="let value of [10,20,30]; let i = index">
    {{i}}:{{value}}
  </div> -->
  <ng-container *ngFor="let value of [10,20,30]; let i = index">
    {{i}} : {{value}} <br/>
  </ng-container>
</div>

<div>
  <!-- <ng-template ngFor [ngForOf]="products" let-product let-i="index">
    No. {{ i + 1 }} : [{{ product.code }}] {{ product.name }}<br />
    </ng-template> -->
  <!-- <div *ngFor="let product of products ; let i = index">
    No. {{ i + 1 }} : [{{product.code}}]:{{product.name}}
  </div> -->
  <ng-container *ngFor="let product of products ; let i = index">
    No. {{ i + 1 }} : [{{product.code}}]:{{product.name}}<br/>
  </ng-container>

</div>

<div>
  external : <output>{{externalmassage}}</output>
  <br/>
  <app-two-ways [(massage)]="externalmassage"/>
</div>
