<H1>My profile </H1>
<h2>basic information</h2>
<ul>
  <li>Name: phumipat jaipattanasak</li>
  <li>Gender: male</li>
  <li>Age: 20</li>
</ul>
<h2>Autobiography</h2>
<p>I delve into my early years, growing up in a small town<br>
   and the impact of my family on my formative years. <br>
    From the unconditional love of my parents to <br>
    the lessons imparted by my siblings, I reflect on the values,<br>
     traditions, and cultural influences that shaped my worldview.</p>
<h2>GitHuB Pages</h2>
<a href="https://github.com/camt-mmit/2023_01-954447-001-lab-02-dom-and-javascript-pmpax.git" class="git">Lab002</a>
<a href="https://github.com/camt-mmit/2023-01-954447-001-lab-03-introduction-to-typescript-pmpax.git" class="git">Lab003</a>
<a href="https://github.com/camt-mmit/2023-01-954447-001-lab-04-introduction-to-angular-pmpax.git" class="git">Lab004</a>
